.serverless/*
.evn.local
.env.testing
.env.production
.env.staging
.env.development
.env
vendor/*
node_modules/*
public/storage/*
public/hot
public/mix-manifest.json
public/js/*
public/css/*
public/fonts/*
public/images/*
public/favicon.ico
public/robots.txt
node_modules/*